/* theme */
.layout {
  @apply flex flex-col flex-1 pt-[6rem] overflow-y-auto;
  padding-top: calc(constant(safe-area-inset-top) + 6rem);
  padding-top: calc(env(safe-area-inset-bottom) + 6rem);
}
.isHover {
  @apply duration-150 hover:-translate-y-2;
}
.isActive {
  @apply duration-150 active:-translate-y-2;
}

.btn {
  @apply flex items-center justify-center p-4 px-8 text-xl shadow-md font-primary rounded-2xl isActive;
}
.cell {
  @apply flex px-8 py-4 hover:bg-gray-200;
}
.break-keep {
  word-break: keep-all;
}
.iosPTop {
  padding-top: calc(constant(safe-area-inset-top));
  padding-top: calc(env(safe-area-inset-top));
}
.iosSubmit {
  padding-bottom: calc(constant(safe-area-inset-bottom + 1rem));
  padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
}
.iosBottomTab {
  padding-bottom: calc(constant(safe-area-inset-bottom / 2));
  padding-bottom: calc(env(safe-area-inset-bottom) / 2);
}
